/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between; /* name left, links right */
  align-items: center;
  background: rgba(0,0,0,0.3); /* LinkedIn blue */
  padding: 15px 30px;
  backdrop-filter:blur(6px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Name/Logo */
.logo {
  /* color: white; */
  font-size: 24px;
  font-weight: bold;
   
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  

  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.nav-links li  a:hover {
  /* text-decoration: underline; */
  color: pink;
}


.navbar{
  color:pink;
}

